body {padding:35px;
background-color: pink;
text-align:center;
font-style: contax sans;}
h1 {color: white;
text-align: center;
font-size: 40px;
font-style:contax sans;}
p {color: white;
font-size: 20px;
font-style:contax sans;}
