body {padding:35px;
  background-color: pink;
text-align:center;
font-family:sans-serif;}
h1 {color: white;
text-align: center;
font-size: 40px;
font-style:times;}
p {color: white;
font-size: 20px;
font-style:times;}
